*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

env/
.env/
*.dat
*.pyc
*.sqlite3
*.db
persondb
test42cc/*.pyc
test42cc/src/*.pyc
test42cc/*.py~
test42cc/src/*.py~
cache
django_cache
test42cc/.idea
*.py~
.idea
.idea/*