{% extends 'base.html' %}

{% block content %}
<div class="container">
{% if contact %}
    <div id="left">
        <div class="field"><span>Name</span></div>
        <div class="field"><span>First Name:</span> {{ contact.first_name }}</div>
        <div class="field"><span>Last name:</span> {{ contact.last_name }}</div>
        <div class="field"><span>Date of birth:</span> {{ contact.birth_date|date:'Y-m-d' }}</div>
        <div class="field"><span>Bio:</span> <div class="textarea">{{ contact.bio|escape|linebreaks }}</div></div>
    </div>

    <div id="right">
        <div class="field"><span>Contacts</span></div>
        <div class="field"><span>Email:</span> {{ contact.email }}</div>
        <div class="field"><span>Jabber:</span> {{ contact.jabber }}</div>
        <div class="field"><span>Skype:</span> {{ contact.skype }}</div>
        <div class="field"><span>Other contacts:</span> <div class="textarea">
                                 {{ contact.other_contacts|escape|linebreaks }}</div></div>
    </div>
</div>
{% else %}
    <div>Nothing to display</div>
{% endif %}
<div class="clear"></div>
<div class="underline">
    <hr>
    <a href="{% url 'requests' %}">queries</a>
</div>
{% endblock %}