{% extends "base.html"  %}

{% block header %}
    <link rel="stylesheet" href="media/css/requests.css" media="screen, projection">
{% endblock %}

{% block content %}
<h2>HTTP Requests</h2>
<table cellspacing="0" cellpadding="5" border="1">
   <tr>
     <th>Date&Time</th>
     <th>Path</th>
     <th>User</th>
     <th>Method</th>
   </tr>
{% for req in request_list %}

    <tr>
        <td>{{ req.date_with_time|date:"d m H:i:s.u" }}</td>
        <td>{{ req.path }}</td>
        <td>{{ req.user|default_if_none:'---' }}</td>
        <td>{{ req.method }}</td>
{% endfor %}
</table>
{% endblock %}