{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" href="{% static "css/requests.css" %}" media="screen, projection">
{% endblock %}

{% block content %}
    <h4>HTTP Requests</h4>
    <table>
        <tr>
            <th>Date&Time</th>
            <th>Path</th>
            <th>User</th>
            <th>Method</th>
            <th>Priority</th>
        </tr>
        {% for req in request_list %}

            <tr>
                <td>{{ req.date_with_time|date:"Y-m-d H:i" }}</td>
                <td>{{ req.path }}</td>
                <td>{{ req.user|default_if_none:'---' }}</td>
                <td>{{ req.method }}</td>
                <td>{{ req.priority }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}