body {
    font-family: sans-serif, Verdana;
    font-size: 0.9em;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.authorization {
    float: left;
    left: 575px;
    position: absolute;
    top: 30px;
}

div#left {
    float: left;
    margin-right: 3em;
    text-align: left;
    margin-bottom: 3em;
    width: 360px;
}

div#right {
    /*float:left;*/
    text-align: left;
}

.clear {
    clear: both;
}

span.label, div.content div.field span {
    font-weight: bold;
    font-size: 1em;
}

div.field {
    margin: 0.7em;
}

div.textarea {
    text-align: left;
}

div.container img {
    width: 300px;
    /*height: 200px;*/
}

div.container-edit-form img {
    width:300px;
}

.container-edit-form div.field label {
    text-align: right;
    display: inline-block;
    width: 100px;
    color: #444444;
}

.container-edit-form div.field input {
    padding: 2px 2px;
    border: 1px solid #cdcdcd;
    text-align: center;
    vertical-align: middle;
}

.container-edit-form div.textarea textarea {
    border: 1px solid #cdcdcd;
}

.buttons {
    top: 680px;
    position: absolute;
    display: block;
}

#progress {
    display: none;
}